*{
margin:0;
padding:0;
box-sizing:border-box;
}

html, body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin:0;
  padding:0;
  background-image: linear-gradient(to top, #9e32a8, white);
  color:#76257d;
}

/* This is the fallback. All browsers will see this. */
nav {
  background-color: rgba(255, 255, 255, 0.7);
}

/* This is the feature query. It checks for browser support. */
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
  nav {
    /* If either the standard or vendor-prefixed property is supported,
       the browser will apply this style. */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    /* We change the background to be transparent or semi-transparent
       so the blur effect can be seen. */
    background-color: rgba(255, 255, 255, 0.3);
  }
}


h1 {
font-weight:900;
transition: 1s;
text-align:center;
margin:3%
}

p{
padding:3%;
text-align:left;
}

.container{
max-width:500px;
height:300px;
border-radius:20px;
flex-shrink:0;
scroll-snap-align: start;
}

.container-holder{
display:flex;	
overflow-x:scroll;
scroll-snap-type: x mandatory;
height:500px;
} 

img{
max-width:100%;
height:500px;
border-radius:20px;
}

nav a{
font-weight:500;
transition:3s color;
}

nav a:hover{
color: #76257d;
font-weight:900;
}

.dropdown-content {
  /* Hides the dropdown and sets up the animation */
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
  /* Existing styles */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  /* ... your existing styles for links ... */
  display: block; 
  border-radius:10px;/* Ensure links are block elements for padding */
}

/* The class we'll add with JavaScript to trigger the animation */
.show-animated {
  max-height: 200px; /* Needs to be large enough to contain all content */
  opacity: 1;
}

.dropbtn {
  background-color:white;
  color: #76257d;
  padding: 16px; /* Use padding to control button height and width */
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius:10px;
}

a{
text-decoration:none;
color:#76257d;
}

.card-holder{
display:flex;	
overflow-x:scroll;
scroll-snap-type: x mandatory;
height:300px;
}

.card-holder img{
max-width:100%;
height:auto;
border-radius:20px;
}

.logo-holder{
display:flex;	
overflow-x:scroll;
scroll-snap-type: x mandatory;
height:450px;
}

.logo-holder img{
max-width:100%;
height:auto;
border-radius:20px;
}

.brochure-holder{
display:flex;	
overflow-x:scroll;
scroll-snap-type: x mandatory;
height:700px;
}

.brochure-holder img{
max-width:100%;
height:350px;
border-radius:0px !important;
}
