*{
margin:0;
padding:0;
box-sizing:border-box;
}

html, body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin:0;
  padding:0;
  
}

/* This is the fallback. All browsers will see this. */
nav {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

/* This is the feature query. It checks for browser support. */
@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
  nav {
    /* If either the standard or vendor-prefixed property is supported,
       the browser will apply this style. */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    /* We change the background to be transparent or semi-transparent
       so the blur effect can be seen. */
    background-color: rgba(255, 255, 255, 0.3)!important;
  }
}

#avatar{
  max-width: 50%;
  height: auto;
  width: 100%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  object-fit:cover;
  border-radius:50%;
  box-shadow:8px 8px 11px grey;
  border:10px solid #9e32a8;	
}

.text-align{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin:10%
}

#info{
align-text:left;
margin:4%;
font-size:20px;
}

#skills{
font-size:20px;
}

.about{
background-color:#ca75d1;
padding-top:10%;
padding-bottom:10%;
color:white;
}

.abeg{
padding-top:20%;
padding-bottom:20%;
background-color:#76257d;
color:#f57dff;
}

.main{
background-image: linear-gradient(to top, #9e32a8, white);
padding:6%;
color:#ca75d1;
}

li{
margin:2%;
}

li a{
text-decoration:none;
transition: color 1s;
color:#76257d;
font-weight:700;
}

li a:hover{
color: black;
font-weight:900;
}

nav a{
font-weight:500;
transition:3s color;
}

nav a:hover{
color: #76257d;
font-weight:900;
}

.contact{
padding:9%;
background-image: linear-gradient(to bottom right, #76257d, #e582ed);
color:#fab5ff;
font-weight:900;
}

.footer-text{
padding-top:6%;
}

.icon-align{
display:inline-block;
align-items:center;
}

.material-icons{
vertical-align:middle;
}

